body {
  margin: 0;
  background: skyblue;
  font-family: Arial;
}
#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: white;
  padding: 5px 15px;
  border-radius: 20px;
}
#gameArea {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
/* Bow */
#bow {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 50px;
  transform-origin: left center;
  transform: translateY(-50%);
  transition: transform 0.06s linear;
  width: 200px;
}
/* Arrow */
#arrow {
  position: absolute;
  left: 80px;
  top: 50%;
  width: 60px;
  height: 4px;
  background: brown;
  display: none;
  transform-origin: left center;
  z-index: 2;
  pointer-events: none;
}
/* Target */
#target {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
}